<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OWP_Projekat</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>aplikacija.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailServlet</display-name>
    <servlet-name>FailServlet</servlet-name>
    <servlet-class>status.FailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailServlet</servlet-name>
    <url-pattern>/FailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmoviServlet</display-name>
    <servlet-name>FilmoviServlet</servlet-name>
    <servlet-class>aplikacija.FilmoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmoviServlet</servlet-name>
    <url-pattern>/FilmoviServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijeServlet</display-name>
    <servlet-name>ProjekcijeServlet</servlet-name>
    <servlet-class>aplikacija.ProjekcijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijeServlet</servlet-name>
    <url-pattern>/ProjekcijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>status.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnauthorizedServlet</display-name>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <servlet-class>status.UnauthorizedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <url-pattern>/UnauthorizedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisnikProjekcijeServlet</display-name>
    <servlet-name>KorisnikProjekcijeServlet</servlet-name>
    <servlet-class>aplikacija.KorisnikProjekcijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikProjekcijeServlet</servlet-name>
    <url-pattern>/KorisnikProjekcijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UlogaPrijavljenogKorisnikaServlet</display-name>
    <servlet-name>UlogaPrijavljenogKorisnikaServlet</servlet-name>
    <servlet-class>aplikacija.UlogaPrijavljenogKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UlogaPrijavljenogKorisnikaServlet</servlet-name>
    <url-pattern>/UlogaPrijavljenogKorisnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisnikFilmoviServlet</display-name>
    <servlet-name>KorisnikFilmoviServlet</servlet-name>
    <servlet-class>aplikacija.KorisnikFilmoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikFilmoviServlet</servlet-name>
    <url-pattern>/KorisnikFilmoviServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>aplikacija.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NalogServlet</display-name>
    <servlet-name>NalogServlet</servlet-name>
    <servlet-class>aplikacija.NalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NalogServlet</servlet-name>
    <url-pattern>/NalogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpravljanjeKorisnicimaServlet</display-name>
    <servlet-name>UpravljanjeKorisnicimaServlet</servlet-name>
    <servlet-class>aplikacija.UpravljanjeKorisnicimaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpravljanjeKorisnicimaServlet</servlet-name>
    <url-pattern>/UpravljanjeKorisnicimaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzvestavanjeServlet</display-name>
    <servlet-name>IzvestavanjeServlet</servlet-name>
    <servlet-class>aplikacija.IzvestavanjeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzvestavanjeServlet</servlet-name>
    <url-pattern>/IzvestavanjeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodavanjeFilmaServlet</display-name>
    <servlet-name>DodavanjeFilmaServlet</servlet-name>
    <servlet-class>aplikacija.DodavanjeFilmaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeFilmaServlet</servlet-name>
    <url-pattern>/DodavanjeFilmaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>aplikacija.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodavanjeProjekcijeServlet</display-name>
    <servlet-name>DodavanjeProjekcijeServlet</servlet-name>
    <servlet-class>aplikacija.DodavanjeProjekcijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeProjekcijeServlet</servlet-name>
    <url-pattern>/DodavanjeProjekcijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijaServlet</display-name>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <servlet-class>aplikacija.ProjekcijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <url-pattern>/ProjekcijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaServlet</display-name>
    <servlet-name>KartaServlet</servlet-name>
    <servlet-class>aplikacija.KartaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaServlet</servlet-name>
    <url-pattern>/KartaServlet</url-pattern>
  </servlet-mapping>
</web-app>