<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OWP_Projekat</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>aplikacija.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailServlet</display-name>
    <servlet-name>FailServlet</servlet-name>
    <servlet-class>status.FailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailServlet</servlet-name>
    <url-pattern>/FailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmoviServlet</display-name>
    <servlet-name>FilmoviServlet</servlet-name>
    <servlet-class>aplikacija.FilmoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmoviServlet</servlet-name>
    <url-pattern>/FilmoviServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijeServlet</display-name>
    <servlet-name>ProjekcijeServlet</servlet-name>
    <servlet-class>aplikacija.ProjekcijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijeServlet</servlet-name>
    <url-pattern>/ProjekcijeServlet</url-pattern>
  </servlet-mapping>
</web-app>